[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
pyinspect = "*"
markdown = "*"
lxml = "*"
icecream = "*"
neovim = "*"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.10"
